@using Kidemy.Application.ViewModels.Course.AdminSideCourse.Courses
@using Kidemy.Domain.Enums.Course
@model AdminSideFilterCourseCommentsViewModel

<div class="row">
    <div class="col-md-12 mb-3">
        <div class="card">
            <div class="card-header">
                <h5>@Localizer["Search"]</h5>
            </div>
            <div class="card-body">
                <form asp-area="Admin" asp-controller="Course" method="get" asp-action="LoadCourseComments" onsubmit="searchForm()" id="filterCourseComments" class="d-flex">
                    <input type="hidden" asp-for="CourseId" />
                    <input type="hidden" asp-for="Page" id="pageNumber" />
                    <div class="row w-100">
                        <div class="form-group mb-4">
                            <label class="form-label" id="label-user-display">@Localizer["User"]</label>
                            <div class="input-group" id="user-display">
                                <input type="hidden" asp-for="UserId" id="User-Input" class="form-control" />
                                <span class="input-group-text text-primary " onclick="ShowSearchUserModal('User')"><i class="bx bx-search-alt-2"></i></span>
                                <input type="text" class="form-control" asp-for="UserName" id="User-Display" readonly="readonly">
                            </div>
                        </div>

                        <div class="form-group mb-3 col-6 col-md-6">
                            <label asp-for="CommentScore" class="form-label"></label>
                            <select asp-for="CommentScore" class="form-select me-2 select2" data-placeholder="@Localizer["Select"]" asp-items="@Html.GetEnumSelectList<CourseCommentsScore>()">
                                <option>@Localizer["All"]</option>
                            </select>
                        </div>

                        <div class="form-group mb-3 col-6 col-md-6">
                            <label asp-for="IsConfirmed" class="form-label"></label>
                            <select asp-for="IsConfirmed" class="form-select me-2 select2">
                                <option>@Localizer["All"]</option>
                                <option value="true">@Localizer["Confirmed"]</option>
                                <option value="false">@Localizer["NotConfirmed"]</option>
                            </select>
                        </div>

                        <div class="mb-3 col-6 col-md-6">
                            <label asp-for="CommentMessage" class="form-label"></label>
                            <input type="search" asp-for="CommentMessage" class="form-control me-2" placeholder="@Localizer["Message"]" aria-label="Search">
                        </div>

                        <div class="mb-3 col-7 col-md-7">
                            <button class="btn btn-outline-primary w-25" type="submit">@Localizer["Search"]</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div id="FilterUsers" class="col-md-12">
        @if (Model != null && Model.Entities != null && Model.Entities.Any())
        {
            @foreach (var item in Model?.Entities ?? new List<AdminSideCourseCommentViewModel>())
            {
                <p class="p-3 shadow rounded">
                    @Localizer["Writer"]: @item.UserName -- <span dir="ltr">@item.CommentedDate</span> -- @item.Score.GetEnumName() --
                    @if (item.IsConfirmed == true)
                    {
                        <span class="alert alert-success p-2">@Localizer["Confirmed"]</span>
                    }
                    else
                    {
                        <span class="alert alert-danger p-2">@Localizer["NotConfirmed"]</span>
                    }
                    <br />
                    @Localizer["Comment"]:
                    <br />
                    @item.Message
                    <br />
                    <br />
                    @if (item.IsConfirmed == true)
                    {
                        <a class="btn btn-danger text-white" onclick="denyComment('@item.Id',
                        '@Model.Page', '@Model.CommentScore', '@Model.IsConfirmed',
                        '@Model.CommentMessage', '@Model.UserId' , '@Model.UserName')">@Localizer["DenyComment"]</a>
                    }
                    else
                    {
                        <a class="btn btn-success text-white" onclick="confirmComment('@item.Id',
                        '@Model.Page', '@Model.CommentScore', '@Model.IsConfirmed',
                        '@Model.CommentMessage','@Model.UserId' , '@Model.UserName')">@Localizer["ConfirmComment"]</a>
                    }
                </p>
            }
            <partial name="_ModalPaging" model="@Model.GetCurrentPaging()" />
        }
        else
        {
            <partial name="_NotFoundPartial" />
        }
    </div>
</div>