@using Kidemy.Application.ViewModels.User;
@using Kidemy.Application.ViewModels.User.ClientSide;
@model ForgotPasswordViewModel
@{
    Layout = "_AccountLayout";
    ViewData["Title"] = Localizer["ForgotPassword"];
}

<div class="row my-5">
    <div class="col-sm-10 col-xl-8 m-auto">

        <!-- Title -->
        <span class="mb-0 fs-1">🤔</span>
        <div class="d-flex">
            <h1 class="fs-4">@Localizer["ForgotPassword"]</h1>
            <a class="d-flex text-primary align-item-center ms-auto" href="/"><span class="me-2">@Localizer["BackToHome"]</span> <i class="fa fa-home" aria-hidden="true"></i></a>
        </div>
        <h5 class="fw-light mb-4">@Localizer["Enter your mobile number to receive the verification code."]</h5>


        <!-- Form START -->
        <form asp-action="ForgotPassword" asp-controller="Account" method="post">
            <!-- Email -->
            <div class="mb-4">
                <label class="form-label">@Localizer["Mobile"]</label>
                <div class="input-group input-group-lg">
                    <span class="input-group-text bg-light rounded-start border-0 text-secondary px-3"><i class="bi bi-phone-fill"></i></span>
                    <input type="tel" class="form-control border-0 bg-light rounded-end ps-1" asp-for="Mobile" maxlength="11" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control" placeholder="@Localizer["EnterYourMobile"]" autocomplete="off" autofocus>
                </div>
                <span class="text-danger" asp-validation-for="Mobile"></span>
                <span></span>
            </div>
            <!-- Button -->
            <div class="align-items-center">
                <div class="d-grid">
                    <button class="btn btn-primary mb-0 loading-support" type="submit">@Localizer["Confirm"]</button>
                </div>
            </div>
        </form>
        <!-- Form END -->
        <!-- Sign up link -->
        <div class="mt-4 text-center">
            <span>@Localizer["Already have an account"]<a asp-action="Login"> @Localizer["Login"]</a></span>
        </div>
    </div>
</div> 