@using Barnamenevisan.Localizing.Shared
@using Kidemy.Application.Convertors
@using Kidemy.Application.ViewModels.Course.ClientSideCourse.Comments
@using Kidemy.Domain.Enums.Course
@using Kidemy.Domain.Shared
@using Kidemy.Domain.Statics
@model ClientSideFilterCommentsViewModel

<div class="row mb-4">
    <h5 class="mb-4">@Localizer["Comments"]</h5>

    <!-- Rating info -->
    <div class="col-md-4 mb-3 mb-md-0">
        <div class="text-center">
            <!-- Info -->
            <h2 class="mb-0">@Model?.AvrageCourseScore.ToString().Replace("٫", ".")</h2>
            <!-- Star -->
            <ul class="list-inline mb-0">
                @{
                    int EmptyStars = 5;
                }
                @for (int counter = 1; counter <= Model?.AvrageCourseScore; counter++)
                {
                    EmptyStars--;
                    <li class="list-inline-item me-0"><i class="fas fa-star text-warning"></i></li>
                }
                @for (int coutner = 0; coutner < EmptyStars; coutner++)
                {
                    <li class="list-inline-item me-0"><i class="far fa-star text-warning"></i></li>
                }
            </ul>
        </div>
    </div>

    <!-- Progress-bar and star -->
    <div class="col-md-8">
        <div class="row align-items-center">
            <!-- Progress bar and Rating -->
            <div class="col-6 col-sm-8">
                <!-- Progress item -->
                <div class="progress progress-sm bg-warning bg-opacity-15">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>

            <div class="col-6 col-sm-4">
                <!-- Star item -->
                <ul class="list-inline mb-0">
                    <li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
                    <li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
                    <li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
                    <li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
                    <li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
                </ul>
            </div>

            <!-- Progress bar and Rating -->
            <div class="col-6 col-sm-8">
                <!-- Progress item -->
                <div class="progress progress-sm bg-warning bg-opacity-15">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>

            <div class="col-6 col-sm-4">
                <!-- Star item -->
                <ul class="list-inline mb-0">
                    <li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
                    <li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
                    <li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
                    <li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
                    <li class="list-inline-item me-0 small"><i class="far fa-star text-warning"></i></li>
                </ul>
            </div>

            <!-- Progress bar and Rating -->
            <div class="col-6 col-sm-8">
                <!-- Progress item -->
                <div class="progress progress-sm bg-warning bg-opacity-15">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>

            <div class="col-6 col-sm-4">
                <!-- Star item -->
                <ul class="list-inline mb-0">
                    <li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
                    <li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
                    <li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
                    <li class="list-inline-item me-0 small"><i class="far fa-star text-warning"></i></li>
                    <li class="list-inline-item me-0 small"><i class="far fa-star text-warning"></i></li>
                </ul>
            </div>

            <!-- Progress bar and Rating -->
            <div class="col-6 col-sm-8">
                <!-- Progress item -->
                <div class="progress progress-sm bg-warning bg-opacity-15">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>

            <div class="col-6 col-sm-4">
                <!-- Star item -->
                <ul class="list-inline mb-0">
                    <li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
                    <li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
                    <li class="list-inline-item me-0 small"><i class="far fa-star text-warning"></i></li>
                    <li class="list-inline-item me-0 small"><i class="far fa-star text-warning"></i></li>
                    <li class="list-inline-item me-0 small"><i class="far fa-star text-warning"></i></li>
                </ul>
            </div>

            <!-- Progress bar and Rating -->
            <div class="col-6 col-sm-8">
                <!-- Progress item -->
                <div class="progress progress-sm bg-warning bg-opacity-15">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>

            <div class="col-6 col-sm-4">
                <!-- Star item -->
                <ul class="list-inline mb-0">
                    <li class="list-inline-item me-0 small"><i class="fas fa-star text-warning"></i></li>
                    <li class="list-inline-item me-0 small"><i class="far fa-star text-warning"></i></li>
                    <li class="list-inline-item me-0 small"><i class="far fa-star text-warning"></i></li>
                    <li class="list-inline-item me-0 small"><i class="far fa-star text-warning"></i></li>
                    <li class="list-inline-item me-0 small"><i class="far fa-star text-warning"></i></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<input type="hidden" asp-for="Page" id="PageId" />

<div class="row">
    @foreach (var item in Model?.Entities ?? new List<ClientSideCommentViewModel>())
    {
        <div class="d-md-flex my-4">
            <div class="avatar avatar-xl me-4 flex-shrink-0">
                <img class="avatar-img rounded-circle" src="@SiteTools.UserImagePath@item.UserProfile" alt="avatar">
            </div>
            <div>
                <div class="d-sm-flex mt-1 mt-md-0 align-items-center">
                    <h5 class="me-3 mb-0 fw-normal" dir="ltr">@item.UserName</h5>
                    @item.Score.GetEnumName()
                    @if (User?.Identity?.IsAuthenticated ?? false)
                    {
                        <a class="text-danger mx-3" onclick="showMediumModal('@Url.Action("ReportComment","Courses",new {area="", commentId = item.Id})','@Localizer["ReportComment"]')" href="javascript:void(0)">@Localizer["ReportComment"]</a>

                        <a class="text-success mx-3" href="javascript:void(0)"
                           onclick="showCustomMediumModal('@Url.Action("ReplyComment","Courses",new {area="", replyCommentId = item.Id})','@Localizer["ReplyComment"]')">@Localizer["Answer"]</a>
                    }
                </div>
                <p class="small mb-2">
                    @item.CommentedDate.GetDiffreneceBetweenDateTimes()
                </p>
                <p class="mb-2">
                    @item.Message
                </p>
            </div>
        </div>
        @foreach (var reply in item.RepliedComments ?? new List<ClientSideCommentViewModel>())
        {
            <div class="d-md-flex mb-4 ps-4 ps-md-5">
                <!-- Avatar -->
                <div class="avatar avatar-lg me-4 flex-shrink-0">
                    <img class="avatar-img rounded-circle" src="@SiteTools.UserImagePath@reply.UserProfile" alt="avatar">
                </div>
                <!-- Text -->
                <div>
                    <div class="d-sm-flex mt-1 mt-md-0 align-items-center">
                        <h5 class="me-3 mb-0 fw-normal">@reply.UserName</h5>
                    </div>
                    <!-- Info -->
                    <p class="small mb-2">
                        @reply.CommentedDate.GetDiffreneceBetweenDateTimes()
                    </p>
                    <p class="mb-2">
                        @reply.Message
                    </p>
                </div>
            </div>
        }

    }
    <partial name="_CustomPaging" model="@( new PagingViewModel{Page = Model.Page, EndPage = Model.EndPage,StartPage = Model.StartPage, PageCount = Model.PageCount })" />
    <hr />
</div>

@if (User?.Identity?.IsAuthenticated ?? false)
{
    <partial name="_CreateComment" model="new ClientSideCreateCommentViewModel(){CourseSlug = Model.CourseSlug}" />
}
else
{
    <p class="alert alert-info">
        @Localizer["PleaseLoginToCommentOnThisCourse"]
        <a asp-area="" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@TempData["returnUrl"]" class="alert-link">@Localizer["Login"]</a>
    </p>
}


<script asp-append-version="true">
    function submitForm(formId) {
        event.preventDefault();

        var $form = $(formId);

        if ($form.valid()) {
            var formData = $form.serialize();

            $.post($form.attr('action'), formData,
                function (response) {
                    var result = response.isSuccess;
                    let resultMessage = response.message;
                    console.log(result);
                    if (result == true) {
                        location.reload();
                    }
                    else {
                        Swal.fire({
                            title: resultMessage,
                            icon: "error",
                            confirmButtonText: '@Localizer["Ok"]'
                        });
                    }
                }, 'json');
        }
    }
</script>