@using Kidemy.Application.ViewModels.SmsProvider;
@using Kidemy.Domain.Enums.Sms;

@model FilterSmsProviderViewModel
@{
    ViewData["Title"] = Localizer["ViewTitle.Admin.SmsProviderList"];
}

<div class="row">
    <div class="col-md-12 mb-3">
        <div class="card">
            <div class="card-header">
                <h5>@Localizer["Search"]</h5>
            </div>
            <div class="card-body">
                <form asp-area="Admin" asp-controller="SmsProvider" asp-action="List" method="post" id="filter-search" class="d-flex">
                    <input type="hidden" asp-for="Page" />
                    <div class="row w-100">
                        <div class="mb-3 col-6 col-md-6">
                            <select class="form-select me-2 " asp-for="IsDefault">

                                <option> @Localizer["All"] </option>
                                <option value="true"> @Localizer["Default"]</option>

                            </select>
                        </div>

                        <div class="mb-3 col-7 col-md-7">
                            <button class="btn btn-outline-primary w-25" type="submit">@Localizer["Search"]</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div id="FilterUsers" class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>@Localizer["SmsProviderList"]</h5>
            </div>
            @if (Model != null && Model.Entities != null && Model.Entities.Any())
            {
                <div class="table-responsive mb-4 text-nowrap text-center">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>@Localizer["SmsProviderType"]</th>
                                <th>@Localizer["ApiKey"]</th>
                                <th>@Localizer["IsDefault"]</th>
                                <th>@Localizer["Operation"]</th>
                            </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">
                            @foreach (var item in Model.Entities)
                            {
                                <tr>
                                    <td>@Model.Counter</td>
                                    <td>@(string.IsNullOrEmpty(item.SmsProviderType.ToString()) ? "-" : item.SmsProviderType.GetEnumName())</td>
                                    <td>@(string.IsNullOrEmpty(item.ApiKey) ? "-" : item.ApiKey)</td>
                                    @if (item.IsDefault)
                                    {
                                        <td class="text-success">
                                            <i class="fa fa-check"></i>
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="text-danger">
                                            <i class="fa fa-times"></i>
                                        </td>
                                    }
                                    <td>
                                        <a permission="UpdateSmsProvider" class="text-warning" asp-area="Admin" asp-controller="SmsProvider" asp-action="Update" asp-route-id="@item.Id" id="@Localizer["Edit"]">
                                            <i class="bx bx-edit-alt me-1"></i>
                                        </a>
                                    </td>
                                </tr>

                                Model.Counter++;
                            }
                        </tbody>
                    </table>
                </div>
                <partial name="_SitePaging" model="@Model.GetCurrentPaging()" />
            }
            else
            {
                <partial name="_NotFoundPartial" />
            }
        </div>
    </div>

</div>