@using Kidemy.Application.ViewModels.Blog;
@using Kidemy.Domain.Enums.Blog;
@using Kidemy.Domain.Statics;

@model AdminSideUpsertBlogViewModel
@{
    ViewData["Title"] = Localizer["ViewTitle.Admin.UpdateBlog"];
}

<form asp-action="Update" enctype="multipart/form-data">
    <input type="hidden" asp-for="ImageName" />
    <div class="row">
        <div class="col-md-8">
            <div class="card p-lg-5">
                <div class="card-body">
                    <div class="row">
                        @await Component.InvokeAsync("Localized", Model)
                    </div>
                    <div class="row">
                        <input type="hidden" asp-for="Id" />
                        <div class="col-12 col-lg-12">
                            <div class="mb-4 padding-top-2-percent">
                                <label type="text" class="form-label" asp-for="Slug"></label>
                                <input type="text" asp-for="Slug" class="form-control" id="slug" />
                            </div>
                        </div>
                        <div class="col-12 col-lg-12">
                            <div class="form-group mb-4">
                                <label asp-for="AuthorId" class="form-label">@Localizer["Author"]</label>
                                <div class="input-group">
                                    <input type="hidden" asp-for="AuthorId" id="User-Input" class="form-control" />
                                    <span class="input-group-text text-primary " onclick="ShowSearchUserModal('User')"><i class="bx bx-search-alt-2"></i></span>
                                    <input type="text" class="form-control" asp-for="AuthorName" id="User-Display" readonly="readonly">
                                </div>
                            </div>
                        </div>

@*                         <div class="col-12 col-lg-12">
                            <div class="form-group mb-4">
                                <label asp-for="LinkPlace" class="form-label"></label>
                                <select asp-for="LinkPlace" class="form-select me-2 ">
                                    @foreach (var linkPlace in Enum.GetValues(typeof(LinkPlace)).Cast<LinkPlace>())
                                    {
                                        if (Model.LinkPlace == linkPlace)
                                        {
                                            <option value="@linkPlace" selected="">@linkPlace.GetEnumName()</option>
                                        }
                                        else
                                        {
                                            <option value="@linkPlace">@linkPlace.GetEnumName()</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
 *@                     
                        <div class="col-12">
                            <div class="mb-4">
                                <label type="text" class="form-label" asp-for="BlogTags"></label>
                                <input asp-for="BlogTags" class="form-control" tagify />
                            </div>
                        </div>
                        <div class="col-12 col-lg-12">
                            <div class="mb-4 form-check padding-top-2-percent">
                                <input class="form-check-input" type="checkbox" asp-for="IsPublished">
                                <label class="form-check-label" asp-for="IsPublished"></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 d-flex justify-content-start">
                                <button type="submit" class="btn btn-warning">@Localizer["Edit"]</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div asp-validation-summary="All" class="text-danger mt-3"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4 mb-md-0">
            <div class="card p-lg-4 mb-3">
                <div class="card-body">
                    <div class="mt-4">
                        <h6 class="fs-6 mb-2">@Localizer["PleaseChooseCourseImage"]</h6>
                        <img src="@SiteTools.BlogImagePath@Model.ImageName" class="w-100 rounded-2 mb-3" ImageFile="1" />
                        <label for="uploadImage" class=" w-100">
                            <button type="button" class="btn btn-info w-100" id="uploadBtn">@Localizer["Upload"]</button>
                        </label>
                        <input class="d-none" type="file" id="uploadImage" ImageInput="1" accept="image/png, image/jpeg" asp-for="Image" />
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>

@section FooterReferences {
    <script asp-append-version="true" src="~/lib/jquery-unobtrusive-ajax/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/admin/js/AutoCompleteSlug.js"></script>
    <script asp-append-version="true" src="~/admin/js/UserModal.js"></script>
}