@using Kidemy.Application.ViewModels.Course.AdminSideCourse.Categories
@model AdminSideCreateCategoryViewModel

@{
    ViewData["Title"] = Localizer["CreateNewCourseCategory"];
}

<form asp-action="CreateNewCategory" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-8">
            <div class="card p-lg-5">
                <div class="card-body">
                    <div class="row">
                        @await Component.InvokeAsync("Localized", Model)
                    </div>
                    <div class="row">
                        <div class="form-group mb-4">
                            <label asp-for="ParentCategoryId" class="form-label"></label>
                            <select asp-for="ParentCategoryId" class="form-select me-2 select2" data-placeholder="@Localizer["Select"]">
                                <option value="0">@Localizer["Select"]</option>
                                @foreach (var item in Model?.Categories ?? new List<AdminSideCategoryAsOptionViewModel>())
                                {
                                    <option value="@item.Id">@item.Title</option>
                                }

                            </select>
                        </div>

                        <div class="form-group mb-4">
                            <div class="checkbox">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" asp-for="IsPopular">
                                    <label class="form-check-label" asp-for="IsPopular"></label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 d-flex justify-content-start">
                                <button type="submit" class="btn btn-success">@Localizer["Submit"]</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div asp-validation-summary="All" class="text-danger mt-3"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4 mb-md-0">
            <div class="card p-lg-4">
                <div class="card-body">
                    <div class="mt-4">
                        <h6 class="fs-6 mb-2">@Localizer["PleaseChooseCategoryImage"]</h6>
                        <img src="@SiteTools.CourseCategoryImagePath@SiteTools.DefaultImageName" class="w-100 rounded-2 mb-3" ImageFile="1" />
                        <label for="uploadImage" class=" w-100">
                            <button type="button" class="btn btn-info  w-100" id="uploadBtn">@Localizer["Upload"]</button>
                        </label>
                        <input class="d-none" type="file" id="uploadImage" ImageInput="1" accept="image/png, image/jpeg" asp-for="ImageFile" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>