@using Kidemy.Application.ViewModels.DynamicText;
@using Kidemy.Domain.Enums.DynamicText;

@model AdminSideUpdateDynamicTextViewModel
@{
    ViewData["Title"] = Localizer["UpdateDynamicText"];
}

<form asp-action="Update" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-12">
            <div class="card p-lg-5">
                <div class="card-body">
                    <div class="row">
                        @await Component.InvokeAsync("Localized", Model)
                    </div>
                    <div class="row">
                        <input type="hidden" asp-for="Id" />     
                        <div class="col-12 col-lg-12">
                            <div class="form-group mb-4">
                                <label asp-for="Position" class="form-label"></label>
                                <select asp-for="Position" class="form-select me-2 ">
                                    @foreach (var position in Enum.GetValues(typeof(DynamicTextPosition)).Cast<DynamicTextPosition>())
                                    {
                                        if (Model.Position == position)
                                        {
                                            <option value="@position" selected="">@position.GetEnumName()</option>
                                        }
                                        else
                                        {
                                            <option value="@position">@position.GetEnumName()</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 d-flex justify-content-start">
                                <button type="submit" class="btn btn-warning">@Localizer["Edit"]</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div asp-validation-summary="All" class="text-danger mt-3"></div>
                </div>
            </div>
        </div>
    </div>
</form>