@using Kidemy.Application.ViewModels.AboutUs;
@model AdminSideUpsertAboutUsViewModel
@{
    ViewData["Title"] = Localizer["ViewTitle.Admin.UpdateAboutUs"];
}

<form asp-area="Admin" asp-controller="AboutUs" asp-action="Update" method="post" enctype="multipart/form-data" id="about-us-form">
    <input type="hidden" asp-for="ImageNumber1" />
    <input type="hidden" asp-for="ImageNumber2" />
    <input type="hidden" asp-for="ImageNumber3" />
    <input type="hidden" asp-for="ImageNumber4" />
    <input type="hidden" asp-for="ImageNumber5" />

    <input type="hidden" name="SelectedImageName" id="SelectedImageName" />
    <div class="row">
        <div class="col-md-12">
            <div class="card p-lg-5">
                <div class="card-body">
                    <div class="row">
                        @await Component.InvokeAsync("Localized", Model)
                    </div>

                    <div class="row">
                        <div class="col-12 d-flex justify-content-start">
                            <div class="col-8 p-1">
                                <label class="form-label" asp-for="ImageNumber1"></label>
                                <br />
                                <input class="form-control" id="imgInp1" type="file" accept="image/*" asp-for="ImageFileNumber1" value="null" />
                            </div>
                            <div class="col-4 p-1">
                                <img src="@Model.ImageNumber1" id="blah1" style="width: 100%; object-fit: contain; object-position:center;" />
                            </div>
                        </div>

                        <div class="col-12 d-flex justify-content-start">
                            <div class="col-8 p-1">
                                <label class="form-label" asp-for="ImageNumber2"></label>
                                <br />
                                <input class="form-control" id="imgInp2" type="file" accept="image/*" asp-for="ImageFileNumber2" value="null" />
                            </div>
                            <div class="col-4 p-1">
                                <img src="@Model.ImageNumber2" id="blah2" style="width: 100%; object-fit: contain; object-position:center;" />
                            </div>
                        </div>

                        <div class="col-12 d-flex justify-content-start">
                            <div class="col-8 p-1">
                                <label class="form-label" asp-for="ImageNumber3"></label>
                                <br />
                                <input class="form-control" id="imgInp3" type="file" accept="image/*" asp-for="ImageFileNumber3" value="null" />
                            </div>
                            <div class="col-4 p-1">
                                <img src="@Model.ImageNumber3" id="blah3" style="width: 100%; object-fit: contain; object-position:center;" />
                            </div>
                        </div>

                        <div class="col-12 d-flex justify-content-start">
                            <div class="col-8 p-1">
                                <label class="form-label" asp-for="ImageNumber4"></label>
                                <br />
                                <input class="form-control" id="imgInp4" type="file" accept="image/*" asp-for="ImageFileNumber4" value="null" />
                            </div>
                            <div class="col-4 p-1">
                                <img src="@Model.ImageNumber4" id="blah4" style="width: 100%; object-fit: contain; object-position:center;" />
                            </div>
                        </div>

                        <div class="col-12 d-flex justify-content-start">
                            <div class="col-8 p-1">
                                <label class="form-label" asp-for="ImageNumber5"></label>
                                <br />
                                <input class="form-control" id="imgInp5" type="file" accept="image/*" asp-for="ImageFileNumber5" value="null" />
                            </div>
                            <div class="col-4 p-1">
                                <img src="@Model.ImageNumber5" id="blah5" style="width: 100%; object-fit: contain; object-position:center;" />
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-12 d-flex justify-content-start">
                            <button type="submit" class="btn btn-success">@Localizer["Save"]</button>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="text-danger" asp-validation-summary="All"></div>
                </div>
            </div>
        </div>
    </div>
</form>

@section FooterReferences{
    <script>
        imgInp1.onchange = evt => {
            const [file] = imgInp1.files
            if (file) {
                blah1.src = URL.createObjectURL(file)
            }
        }

        imgInp2.onchange = evt => {
            const [file] = imgInp2.files
            if (file) {
                blah2.src = URL.createObjectURL(file)
            }
        }

        imgInp3.onchange = evt => {
            const [file] = imgInp3.files
            if (file) {
                blah3.src = URL.createObjectURL(file)
            }
        }

        imgInp4.onchange = evt => {
            const [file] = imgInp4.files
            if (file) {
                blah4.src = URL.createObjectURL(file)
            }
        }

        imgInp5.onchange = evt => {
            const [file] = imgInp5.files
            if (file) {
                blah5.src = URL.createObjectURL(file)
            }
        }
    </script>
}