@using Kidemy.Application.Services.Interfaces;
@using Kidemy.Application.ViewModels.Role;
@using Kidemy.Application.ViewModels.User;
@using Kidemy.Application.ViewModels.User.AdminSide;
@model FilterUsersViewModel
@inject IRoleService roleService
@{
    var allRolesResult = await roleService.GetAllRolesAsync();

    var allRoles = new List<AdminSideRoleViewModel>();

    if (allRolesResult.IsSuccess) allRoles = allRolesResult.Value;
}

<div id="SearchUserModalBox">
    <div id="filternig">
        <form asp-action="SearchUserModal" asp-controller="Home" asp-area="Admin" asp-route-baseName="@(ViewBag.BaseName)" id="@(ViewBag.BaseName)-Form" data-ajax="true" data-method="get" data-ajax-begin="open_waiting()" data-ajax-success="close_waiting()"
              data-ajax-mode="replace" data-ajax-update="#SearchUserModalBox">

            <input type="hidden" asp-for="Page" id="PartialPageId" />
            <div class="row w-100">
                <div class="mb-3 col-6 col-md-6">
                    <label asp-for="FirstName" class="form-label"></label>
                    <input type="search" asp-for="FirstName" class="form-control me-2" placeholder="@Localizer["FirstName"]" aria-label="Search">
                </div>
                <div class="mb-3 col-6 col-md-6">
                    <label asp-for="LastName" class="form-label"></label>
                    <input type="search" asp-for="LastName" class="form-control me-2" placeholder="@Localizer["LastName"]" aria-label="Search">
                </div>
                <div class="mb-3 col-6 col-md-6">
                    <label asp-for="Mobile" class="form-label"></label>
                    <input type="search" asp-for="Mobile" class="form-control me-2" placeholder="@Localizer["Mobile"]" aria-label="Search">
                </div>
                <div class="mb-3 col-6 col-md-6">
                    <label asp-for="Email" class="form-label"></label>
                    <input type="search" asp-for="Email" class="form-control me-2" placeholder="@Localizer["Email"]" aria-label="Search">
                </div>
                <div class="mb-3 col-6 col-md-6">
                    <label class="form-label">@Localizer["Status"]</label>
                    <select asp-for="Status" class="form-select me-2 ">
                        <option value="">@Localizer["Select"]</option>
                        <option value="@UserStatus.IsBan">@Localizer["blocked"]</option>
                        <option value="@UserStatus.Inactive">@Localizer["Inactive"]</option>
                        <option value="@UserStatus.Active">@Localizer["Active"]</option>
                    </select>
                </div>
                <div class="mb-3 col-6 col-md-6">
                    <label class="form-label">@Localizer["Role"]</label>
                    <select asp-for="RoleId" class="form-select me-2 ">
                        <option value="">@Localizer["Select"]</option>
                        @foreach (var role in allRoles)
                        {
                            <option value="@role.Id">@role.Title</option>
                        }
                    </select>
                </div>
                <div class="row">
                    <div class="mb-3 col-6 col-md-6">
                        <button class="btn btn-outline-primary w-25" type="submit">@Localizer["Search"]</button>
                    </div>
                </div>
            </div>
        </form>

    </div>

    <div id="FilterUsers">
        <div class="card">
            @if (Model != null && Model.Entities != null && Model.Entities.Any())
            {
                <div class="table-responsive mb-4 text-nowrap text-center">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>@Localizer["FirstName"]</th>
                                <th>@Localizer["LastName"]</th>
                                <th>@Localizer["Email"]</th>
                                <th>@Localizer["Mobile"]</th>
                                <th>@Localizer["Role"]</th>
                                <th>@Localizer["Status"]</th>
                                <th>@Localizer["Operation"]</th>
                            </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">
                            @foreach (var item in Model.Entities)
                            {
                                var userFullName = string.IsNullOrWhiteSpace(item.FirstName) && string.IsNullOrWhiteSpace(item.LastName)
                                ? item.Mobile : $"{item.FirstName} {item.LastName}";

                                <tr>
                                    <td>@(string.IsNullOrEmpty(item.FirstName) ? "-" : item.FirstName)</td>
                                    <td>@(string.IsNullOrEmpty(item.LastName) ? "-" : item.LastName)</td>
                                    <td><strong>@(string.IsNullOrEmpty(item.Email) ? "-" : item.Email)</strong></td>
                                    <td>@(string.IsNullOrEmpty(item.Mobile) ? "-" : item.Mobile)</td>
                                    @if (item.Roles?.Any(id => allRoles.Any(role => role.Id == id)) ?? false)
                                    {
                                        <td>
                                            @foreach (var roleId in item.Roles)
                                            {
                                                <span class="d-block">@(allRoles?.FirstOrDefault(role => role.Id == roleId)?.Title)</span>
                                            }
                                        </td>
                                    }
                                    else
                                    {
                                        <td>-</td>
                                    }
                                    <td>
                                        <span class="badge @(item.Status == UserStatus.IsBan ? "bg-label-danger" : (item.Status==UserStatus.Inactive?"bg-label-warning":"bg-label-success"))">
                                            @(item.Status == UserStatus.IsBan ? Localizer["blocked"] : (item.Status == UserStatus.Inactive ? Localizer["Inactive"] : Localizer["Active"]))
                                        </span>
                                    </td>
                                    <td>
                                        <a class="btn btn-outline-primary w-75" onclick="SelectUser('@item.Id', '@(userFullName)','@ViewBag.BaseName')">
                                            @Localizer["Select"]
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <nav aria-label="Page navigation ">
                    <ul class="pagination justify-content-center mt-3">
                        @if (Model.StartPage < Model.Page)
                        {
                            <li class="page-item prev">
                                <a class="page-link cursor-pointer" onclick="FillPartialPageId(@(Model.Page - 1), '@(ViewBag.BaseName)')">
                                    <i class="tf-icon bx bx-chevron-left"></i>
                                </a>
                            </li>
                        }
                        @for (int i = Model.StartPage; i <= Model.EndPage; i++)
                        {
                            if (Model.Page == i)
                            {
                                <li class="page-item active">
                                    <a class="page-link cursor-pointer" data-page="0" href="javascript:void(0);">@i</a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    <a class="page-link cursor-pointer" onclick="FillPartialPageId(@(i), '@(ViewBag.BaseName)')">@i</a>
                                </li>
                            }
                        }
                        @if (Model.EndPage > Model.Page)
                        {
                            <li class="page-item next">
                                <a class="page-link cursor-pointer" onclick="FillPartialPageId(@(Model.Page + 1), '@(ViewBag.BaseName)')">
                                    <i class="tf-icon bx bx-chevron-right"></i>
                                </a>
                            </li>
                        }

                    </ul>
                </nav>
            }
            else
            {
                <partial name="_NotFoundPartial" />
            }
        </div>
    </div>
</div>
