<div class="modal fade" id="LargeModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="LargeModalTitle">Modal title</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body" id="LargeModalBody">
               
               
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="MediumModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="MediumModalTitle">Modal title</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body" id="MediumModalBody">


            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="acceptModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Localizer["AcceptWithdrawRequest"]</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-area="Admin" asp-controller="WithdrawRequest" asp-action="Accept" method="post">
                    <input type="hidden" name="id" id="toAcceptWithdrawRequestId" />
                    <input type="hidden" name="returnUrl" value="@Context.Request.Path" />
                    <div class="row">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="mb-4">
                                            <label for="AcceptDescription">@Localizer["MoreDescription"]</label>
                                            <textarea id="AcceptDescription" name="Description" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12 d-flex justify-content-start">
                                        <button type="submit" class="btn btn-success">@Localizer["Save"]</button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="text-danger" asp-validation-summary="All"></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="rejectModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Localizer["RejectWithdrawRequest"]</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-area="Admin" asp-controller="WithdrawRequest" asp-action="Reject" method="post">
                    <input type="hidden" name="id" id="toRejectWithdrawRequestId" />
                    <input type="hidden" name="returnUrl" value="@Context.Request.Path" />
                    <div class="row">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="mb-4">
                                            <label for="RejectDescription">@Localizer["MoreDescription"]</label>
                                            <textarea id="RejectDescription" name="Description" class="form-control "></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12 d-flex justify-content-start">
                                        <button type="submit" class="btn btn-success">@Localizer["Save"]</button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="text-danger" asp-validation-summary="All"></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
