@using Kidemy.Application.ViewModels.Course.AdminSideCourse.CourseQuestion
@using Kidemy.Application.ViewModels.Course.AdminSideCourse.Courses
@using Kidemy.Domain.Enums.Course
@using Kidemy.Domain.Statics
@model AdminSideFilterCourseQuestionViewModel

@{
    ViewData["Title"] = Localizer["CourseQuestionsDoesNotAnsweredByTeacherAfter48Hours"];
}


@section FooterReferences {

    <script>
        async function CloseCourseQuestion(url) {
            Swal.fire({
                html: `<b>${await jsLocalizer("CloseCourseQuestion")}</b>`,
                showDenyButton: true,
                confirmButtonText: await jsLocalizer("Yes"),
                denyButtonText: await jsLocalizer("No")
            }).then((result) => {
                if (result.isConfirmed) {
                    var formData = {};
                    addAntiforgeryToken(formData);

                    $.ajax({
                        type: 'post',
                        url: url,
                        data: formData,
                        success: async function (response) {
                            window.location.reload();
                        },
                        error: async function (response) {
                            Swal.fire({
                                icon: 'error',
                                title: await jsLocalizer("Error.e"),
                                confirmButtonText: await jsLocalizer("Ok"),
                            });
                        }
                    });
                }
            });
        }
    </script>

    <script>
        async function OpenCourseQuestion(url) {
            Swal.fire({
                html: `<b>${await jsLocalizer("OpenCourseQuestion")}</b>`,
                showDenyButton: true,
                confirmButtonText: await jsLocalizer("Yes"),
                denyButtonText: await jsLocalizer("No")
            }).then((result) => {
                if (result.isConfirmed) {
                    var formData = {};
                    addAntiforgeryToken(formData);

                    $.ajax({
                        type: 'post',
                        url: url,
                        data: formData,
                        success: async function (response) {
                            window.location.reload();
                        },
                        error: async function (response) {
                            Swal.fire({
                                icon: 'error',
                                title: await jsLocalizer("Error.e"),
                                confirmButtonText: await jsLocalizer("Ok"),
                            });
                        }
                    });
                }
            });
        }
    </script>

    <script>
        async function ConfrimCourseQuestion(url) {
            Swal.fire({
                html: `<b>${await jsLocalizer("ConfrimCourseQuestion")}</b>`,
                showDenyButton: true,
                confirmButtonText: await jsLocalizer("Yes"),
                denyButtonText: await jsLocalizer("No")
            }).then((result) => {
                if (result.isConfirmed) {
                    var formData = {};
                    addAntiforgeryToken(formData);

                    $.ajax({
                        type: 'post',
                        url: url,
                        data: formData,
                        success: async function (response) {
                            window.location.reload();
                        },
                        error: async function (response) {
                            Swal.fire({
                                icon: 'error',
                                title: await jsLocalizer("Error.e"),
                                confirmButtonText: await jsLocalizer("Ok"),
                            });
                        }
                    });
                }
            });
        }
    </script>

}
<div class="row">
    <div class="col-md-12 mb-3">
        <div class="card">
            <div class="card-header">
                <h5>@Localizer["Search"]</h5>
            </div>
            <div class="card-body">
                <form asp-area="Admin" asp-controller="CourseQuestion" method="get" asp-action="CourseQuestionsDoesNotAnsweredByTeacherAfter48Hours" id="filter-search" class="d-flex">
                    <input type="hidden" asp-for="Page" />
                    <input type="hidden" asp-for="CourseId" />

                    <div class="row w-100">
                        <div class="mb-3 col-6 col-md-6">
                            <label asp-for="Title" class="form-label"></label>
                            <input type="search" asp-for="Title" class="form-control me-2" placeholder="@Localizer["Title"]" aria-label="Search">
                        </div>
                        <div class="mb-3 col-7 col-md-7">
                            <button class="btn btn-outline-primary w-25" type="submit">@Localizer["Search"]</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div id="FilterUsers" class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>@Localizer["CourseQuestionsDoesNotAnsweredByTeacherAfter48Hours"]</h5>
            </div>
            @if (Model != null && Model.Entities != null && Model.Entities.Any())
            {
                <div class="table-responsive mb-4 text-nowrap text-center">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>@Localizer["CourseTitle"]</th>
                                <th>@Localizer["TeacherUserName"]</th>
                                <th>@Localizer["QuestionTitle"]</th>
                                <th>@Localizer["Operation"]</th>
                            </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">
                            @foreach (var item in Model?.Entities ?? new List<AdminSideCourseQuestionViewModel>())
                            {
                                <tr>
                                    <td>@Model.Counter</td>
                                    <td>@item.CourseTitle</td>
                                    <td>@item.MasterFirstName @item.MasterLastName</td>
                                    <td>@item.Title</td>

                                    <td>
                                        <a class="text-info" asp-area="Admin" asp-controller="CourseQuestion" title="@Localizer["QuestionMessages"]" asp-action="ShowMessages" asp-route-QuestionId="@item.Id" id="@Localizer["CourseQuestionsMessages"]">
                                            <i class="bx bxs-chat me-1"></i>
                                        </a>
                                        @if (!item.IsConfirmed)
                                        {
                                            <a class="text-success pointer" href="javascript:void(0)" title="@Localizer["ConfirmQuestion"]" onclick="ConfrimCourseQuestion(`@Url.Action("ConfrimCourseQuestion", "CourseQuestion" , new { area="Admin" , id=@item.Id })`)">
                                                <i class='bx bx-check-shield'></i>
                                            </a>
                                        }
                                        @if (item.IsConfirmed && !item.IsClosed)
                                        {
                                            <a class="text-success pointer" href="javascript:void(0)" title="@Localizer["CloseQuestion"]" onclick="CloseCourseQuestion(`@Url.Action("CloseQuestion", "CourseQuestion" , new { area="Admin" , id=@item.Id })`)">
                                                <i class='bx bx-window-close'></i>
                                            </a>
                                        }
                                        else if (item.IsConfirmed && item.IsClosed)
                                        {
                                            <a class="text-success pointer" href="javascript:void(0)" title="@Localizer["OpenQuestion"]" onclick="OpenCourseQuestion(`@Url.Action("OpenQuestion", "CourseQuestion" , new { area="Admin" , id=@item.Id })`)">
                                                <i class='bx bx-check-square'></i>
                                            </a>
                                        }
                                        <a class="text-danger" href="javascript:void(0)" title="@Localizer["Delete"]" onclick="DeleteConfirm('@Url.Action("Delete", "CourseQuestion", new { area = "Admin", id = @item.Id })')" id="deleteBtn-@item.Id" title="@Localizer["Delete"]">
                                            <i class="bx bx-trash me-1"></i>
                                        </a>
                                    </td>
                                </tr>

                                Model.Counter++;
                            }
                        </tbody>
                    </table>
                </div>
                <partial name="_SitePaging" model="@Model.GetCurrentPaging()" />
            }
            else
            {
                <partial name="_NotFoundPartial" />
            }
        </div>
    </div>
</div>





