@using Kidemy.Application.ViewModels.Banner;
@using Kidemy.Domain.Enums.Banner;
@using Kidemy.Domain.Statics;

@model FilterBannerViewModel
@{
    ViewData["Title"] = Localizer["BannersList"];
}

<div class="row">
    <div class="col-md-12 mb-3">
        <div class="card">
            <div class="card-header">
                <h5>@Localizer["Search"]</h5>
            </div>
            <div class="card-body">
                <form asp-area="Admin" asp-controller="Banner" asp-action="List" method="post" id="filter-search" class="d-flex">
                    <input type="hidden" asp-for="Page" />
                    <div class="row w-100">                        
                        <div class="mb-3 col-12 col-md-6">
                            <label asp-for="Place" class="form-label"></label>
                            <select asp-for="Place" class="form-select me-2 ">
                                <option value="">@Localizer["All"]</option>
                                @foreach (var BannerPlace in Enum.GetValues(typeof(BannerPlace)).Cast<BannerPlace>())
                                {
                                    if (Model.Place == BannerPlace)
                                    {
                                        <option value="@BannerPlace" selected="">@BannerPlace.GetEnumName()</option>
                                    }
                                    else
                                    {
                                        <option value="@BannerPlace">@BannerPlace.GetEnumName()</option>
                                    }
                                }
                            </select>
                        </div>

                        <div class="mb-3 col-7 col-md-7">
                            <button class="btn btn-outline-primary w-25" type="submit">@Localizer["Search"]</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div id="FilterUsers" class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>@Localizer["BannersList"]</h5>
            </div>
            @if (Model != null && Model.Entities != null && Model.Entities.Any())
            {
                <div class="table-responsive mb-4 text-nowrap text-center">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>@Localizer["Place"]</th>
                                <th>@Localizer["Published"]</th>
                                <th>@Localizer["Image"]</th>
                                <th>@Localizer["Operation"]</th>
                            </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">
                            @foreach (var item in Model.Entities)
                            {
                                <tr>
                                    <td>@Model.Counter</td>
                                    <td>
                                        <strong>@item.Place.GetEnumName()</strong>
                                    </td>                                   
                                    <td>
                                        @if (item.IsPublished)
                                        {
                                            <span class="text-success"><i class="fa fa-check" aria-hidden="true"></i></span>
                                        }
                                        else
                                        {
                                            <span class="text-danger"><i class="fa fa-times" aria-hidden="true"></i></span>
                                        }
                                    </td>
                                    <td>
                                        <img src="@SiteTools.BannerImagePath@item.ImageName" class="image-list w-50" ImageFile="1" />
                                    </td>
                                    <td>
                                        <a permission="UpdateBanner" class="text-warning" asp-area="Admin" asp-controller="Banner" asp-action="Update" asp-route-id="@item.Id" id="@Localizer["Edit"]">
                                            <i class="bx bx-edit-alt me-1"></i>
                                        </a>
                                        <a permission="DeleteBanner" class="text-danger" href="javascript:void(0)" onclick="DeleteConfirm('@Url.Action("Delete", "Banner", new { area = "Admin", id = @item.Id })')" id="deleteBtn-@item.Id" title="@Localizer["Delete"]">
                                            <i class="bx bx-trash me-1"></i>
                                        </a>
                                    </td>
                                </tr>

                                Model.Counter++;
                            }
                        </tbody>
                    </table>
                </div>
                <partial name="_SitePaging" model="@Model.GetCurrentPaging()" />
            }
            else
            {
                <partial name="_NotFoundPartial" />
            }
        </div>
    </div>

</div>