@using Kidemy.Application.ViewModels.Link;
@using Kidemy.Domain.Enums.Link;
@model FilterLinkViewModel

@{
    ViewData["Title"] = Localizer["LinksList"];
}

<div class="row">
    <div class="col-md-12 mb-3">
        <div class="card">
            <div class="card-header">
                <h5>@Localizer["Search"]</h5>
            </div>
            <div class="card-body">
                <form asp-area="Admin" asp-controller="Link" asp-action="List" method="post" id="filter-search" class="d-flex">
                    <input type="hidden" asp-for="Page" />
                    <div class="row w-100">
                        <div class="mb-3 col-6 col-md-6">
                            <label asp-for="Title" class="form-label"></label>
                            <input type="search" asp-for="Title" class="form-control me-2" placeholder="@Localizer["Title"]" aria-label="Search">
                        </div>
                        <div class="mb-3 col-6 col-md-6">
                            <label asp-for="LinkType" class="form-label"></label>
                            <select asp-for="LinkType" class="form-select me-2 ">
                                <option value="">@Localizer["All"]</option>
                                @foreach (var linkType in Enum.GetValues(typeof(LinkType)).Cast<LinkType>())
                                {
                                    if (Model.LinkType == linkType)
                                    {
                                        <option value="@linkType" selected="">@linkType.GetEnumName()</option>
                                    }
                                    else
                                    {
                                        <option value="@linkType">@linkType.GetEnumName()</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="mb-3 col-7 col-md-7">
                            <button class="btn btn-outline-primary w-25" type="submit">@Localizer["Search"]</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div id="FilterUsers" class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>@Localizer["LinksList"]</h5>
            </div>
            @if (Model != null && Model.Entities != null && Model.Entities.Any())
            {
                <div class="table-responsive mb-4 text-nowrap text-center">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>@Localizer["Title"]</th>
                                <th>@Localizer["Address"]</th>
                                <th>@Localizer["LinkType"]</th>
                                <th>@Localizer["Operation"]</th>
                            </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">
                            @foreach (var item in Model.Entities)
                            {
                                <tr>

                                    <td>@Model.Counter</td>
                                    <td>@(string.IsNullOrEmpty(item.Title) ? "-" : item.Title)</td>
                                    <td>@item.Address</td>
                                    <td>
                                        <strong>@item.LinkType.GetEnumName()</strong>
                                    </td>
                                    <td>
                                        <a class="text-warning" asp-area="Admin" asp-controller="Link" asp-action="Update" asp-route-id="@item.Id" id="@Localizer["Edit"]">
                                            <i class="bx bx-edit-alt me-1"></i>
                                        </a>
                                        <a class="text-danger" href="javascript:void(0)" onclick="DeleteConfirm('@Url.Action("Delete", "Link", new { area = "Admin", id = @item.Id })')" id="deleteBtn-@item.Id" title="@Localizer["Delete"]">
                                            <i class="bx bx-trash me-1"></i>
                                        </a>
                                    </td>
                                </tr>

                                Model.Counter++;
                            }
                        </tbody>
                    </table>
                </div>
                <partial name="_SitePaging" model="@Model.GetCurrentPaging()" />
            }
            else
            {
                <partial name="_NotFoundPartial" />
            }
        </div>
    </div>
</div>
