@using Kidemy.Application.ViewModels.FavouriteCourse
@model ClientSideFilterFavouriteCourseViewModel
@{
    ViewData["Title"] = Localizer["FavouriteCoursesList"];
}


<form asp-area="UserPanel" asp-controller="FavouriteCourses" asp-action="List" method="get" id="filter-search" class="d-none">
    <input type="hidden" asp-for="Page">
</form>

<div class="col-xl-12 col-lg-12 col-md-12">

    <div class="card bg-transparent border rounded-3">
        @if (Model?.Entities?.Any() ?? false)
        {
            <div class="card-body">
                <div class="row g-3 align-items-center justify-content-between mb-4">
                </div>
                <div class="table-responsive border-0">
                    <table class="table table-dark-gray align-middle p-4 mb-0 table-hover">
                        <thead>
                            <tr>
                                <th scope="col" class="border-0 ">@Localizer["CourseTitle"]</th>
                                <th scope="col" class="border-0">@Localizer["Operation"]</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Entities)
                            {
                                <tr>
                                    <td>@item.CourseTitle</td>

                                    <td>
                                        <a class="btn btn-primary" aria-label="@Localizer["Show"]" asp-controller="Courses" asp-action="CourseDetails" asp-route-slug="@item.Slug">
                                            @Localizer["Show"]
                                        </a>
                                        <a class="btn btn-danger" aria-label="@Localizer["Delete"]" asp-controller="FavouriteCourses" asp-action="Remove" asp-route-id="@item.CourseId">
                                            @Localizer["Delete"]
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
            <partial name="_UserPanelPaging" model="Model.GetCurrentPaging()" />
        }
        else
        {
            <partial name="_NotFoundPartial" />
        }
    </div>
</div>

